 .body{
            margin: 0;  
            padding: 0; 
            background-color:rgb(250, 242, 242);
             width: 100vw; 
             height: 100vh;
             color: rgb(10, 10, 10); 
             display:flex;
             justify-content:center; 
             align-items: center; 
        }
        .main{
            width: 30%;
            height: 30%;
            background-color: rgb(192, 190, 181);
            border: 3px solid rgba(236, 236, 231, 0.979);
            align-items: center;
            padding: 15px;
            margin: 20px;
            box-shadow: 4px 4px 30px  rgb(98, 113, 128);
            border-radius: 6px;
            
       }
        #num{
            border:none ;
            height: 35px;
            color: black;
            font-size:large;
            
            
        }
        .sub{
            border: none;
            font-size:large;
            height: 35px;
            background-color: rgb(243, 245, 247);
        }
